@media all and (max-width: 100%) {
  .container {
    flex-wrap: wrap;
  }
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    background-color: rgb(104, 104, 104);
    padding: 0px 45px 0px 50px;
    margin-left:30px;
    margin-right:30px;
 } 

.navbar nav-flex-icons {
  display: flex;
  justify-content: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

 .navbar-brand {
   width: 100%;
 }
 

  .btn btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    border-radius: 50%;
    border: 1px solid rgba(248, 249, 250, 0.75);     
  }

.row-lg {
  height: 100%;
  width: 100%;
  background-color: rgb(216, 224, 250);
}

input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    background: #f1f1f1;
  }
  

  col-md-12 {
    background-color: aquamarine;
  }

  p {
    margin:-10px;
    padding:-10px;
  }

.editbtn {
  padding: 0;
  border: none;
  background: none;
  background-color: whitesmoke;
  }

  .panel {
  position: absolute;
  width: 200px;
  right: -200px;
  }

  .navbar-nav nav w-100 {
    float: left;
  }

  .nav-item {
    color: white;
  }
